/*
Quick.Cart default plugins stylesheet
/*/
div.graph{clear:both;width:150px;height:7px;padding:0;background:url('img/poll_bg_g.gif') repeat-x;font-size:1px;line-height:1px;}
div.graph div{clear:both;float:left;width:1px;height:7px;padding:0;background:#970000 url('img/poll_bg.gif') repeat-x;font-size:1px;line-height:1px;}
#list.stats .save th, #list.stats .save input{font-weight:normal;}
#features{background:#aaa;}
body #features td{padding:5px;background:#f2efef;}
#features .input{width:180px;}
/* comments */
#comments #list td, #comments #list th{padding:4px;vertical-align:top;}
#comments #list th{width:180px;text-align:left;}
#comments #list th div{font-weight:bold;}
#comments #list th p{font-weight:normal;}
#comments #list .save th{width:auto;padding-right:10px;background:#f2efef;text-align:right;}
#comments #list .save td{background:#f2efef;font-weight:normal;}
#comments #list .save input{font-size:12px;font-weight:bold;}
#comments #list .status{text-align:center;width:90px;}
#comments td div{float:right;margin:0 0 5px 5px;}